<section class="game">
	<div class="info-game">
		<div><img src="{{ asset('assets/img/d2game.jpg') }}" alt="Image du jeu" class="img-game"></div>

		<div class="info-game-text">
			<h2>Destiny 2</h2>
			<p>Destiny Series</p>
		</div>
	</div>

	<div class="info-game-bar">
		<ul>
			<li><a href="{{ path('home') }}">Tableaux de bord</a></li>
			<li><a href="#">Actualités</a></li>
			<li><a href="#">Ressources</a></li>
			<li><a href="#">Liés</a></li>
			<li><a href="#">Statistiques</a></li>
		</ul>
	</div>
</section>
