<div class="side-boxes">

	<div class="box">
		<h3>En développement...</h3>
		<ul>
			<li>Joueurs :</li>
			<li>Temps total :</li>
		</ul>
	</div>

	<div class="box">
		<h3>Dernières actualités :</h3>
		<ul>
			<li><a href="#">bla</a></li>
			<li><a href="#">bla</a></li>
			<li><a href="#">bla</a></li>
		</ul>
	</div>

	<div class="box">
		<h3>Derniers fils de discussions :</h3>
		<li>
			<a href="#">bla bla</a>
		</li>
		<li>
			<a href="#">bla bla</a>
		</li>
		<li>
			<a href="#">bla bla</a>
		</li>
		<li>
			<a href="#">bla bla</a>
		</li>
		<li>
			<a href="#">bla bla</a>
		</li>
	</div>

	<div class="box">
        <h3>Modérateurs</h3>
        <div class="moderator-button-box">
            <button>Modo 1</button>
            <button>Modo 2</button>
            <button>Modo 3</button>
        </div>
    </div>

</div>
