<footer>
    <section class="footer-layout">

        <div class="footer-logo">
            <img src="{{ asset('assets/img/logoD2.jpg') }}" alt="logo du site">
        </div>

        <div class="footer-nav-center nav-footer-branch">
            Explorer :
            <ul>
                <li><a href="#">Activités</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Aide</a></li>
            </ul>
        </div>

        <div class="footer-nav-right nav-footer-branch">
            Plus :
            <ul>
                <li><a href="#">À propos</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Mentions légales</a></li>
            </ul>
        </div>

    </section>
</footer>
